* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

:root {
  --text: rgb(96, 26, 62);
}


p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #601a3ed4;
  text-indent: -9999px;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  z-index: 1;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
.icon-hamburger{
  width: 20px;
  height: 20px;
  display: none;
}
/* header start */
.anoucement_bar {
  display: block;
  color: var(--text);
  font-weight: 700;
  /* font: bold; */
  font-size: 12px;
  line-height: 20px;
  padding: 5px 20px;
  font-family: Inter, sans-serif !important;
  letter-spacing: 0.1rem;
}

.header_main {
  border-bottom: 0.1rem solid rgb(226, 226, 226);
  padding-bottom: 10px;
}
.header_main_wrapper {
  position: sticky;
  top: 0;
  z-index: 1;
}
.slider {
  background-color: #ffd0d3;
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  /* justify-content: center; */
}
.head_text {
  width: calc(33% - 12px);
  text-align: center;
  padding-top: 10px;
}
.head_text img {
  max-width: 120px;
}
.search_track {
  font-weight: 600;
  font-size: 12px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--text);
  font-family: Inter, sans-serif !important;
  gap: 20px;
  order: 0;
  cursor: pointer;
  width: calc(33% - 12px);
}
.header__heading-link {
  color: var(--text);
}

.icon-track-order {
  width: 34px;
  height: 34px;
}
.icon-search {
  height: 25px;
  width: 25px;
}

.header_wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  position: relative;
  /* padding: 10px; */
}
.top_header {
  position: sticky;
  top: 0;
}
.container-max-width {
  margin: 0 auto;
  max-width: 1400px;
}
.header_icon {
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: end;
  width: calc(33% - 12px);
}
.icon-account {
  width: 25px;
  height: 25px;
}
.header_icon_icons {
  padding: 6px;
  width: 30px;
} /*  */
.header_items .head_items {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 20px; */
}
.header_items li {
  list-style: none;
  padding: 10px 8px;
}
.header_like_icon {
  width: 30px ;
  height: 30px;
}
/* header end */

/* Items category start  */
.items_category {
  color: #000;
  text-decoration: none;
  font-family: Inter, sans-serif !important;
  font-weight: 400;
  padding: 10px 8px;
  letter-spacing: .8px;
}
.items_category:hover {
  text-decoration: underline;
}
.items_row img {
  border-radius: 50%;
  border: 1px solid #601a3e;
  padding: 2px;
  cursor: pointer;
  max-width: 100%;
}
.items_row {
  transition: transform 0.3s ease;
  width: calc(9% - 20px);
}
.items_row:hover {
  transform: scale(1.1);
}
/*  */

.headermenu-list {
  display: none;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  width: max-content;
  min-width: 200px;
  z-index: 1;
  position: absolute;
  background-color: #fff;
  border: 0.4px solid rgb(221, 217, 217);
  top: 48px;
  padding: 1.4rem 0;
}
.headermenu-list li a {
  list-style: none;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 0.8rem 2.4rem;
}

.catego_slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.icon-caret {
  position: absolute;
  height: 0.4rem;
  top: calc(50% - 0.2rem);
  transition: transform;
  cursor: pointer;
  transition: all;
}
.dropdown-menu:hover svg.icon {
  transform: rotate(-180deg);
}
.dropdown-menu:hover .headermenu-list {
  display: block;
}
.dropdown-menu {
  position: relative;
}
.content {
  text-align: center;
}
.content a {
  color: #601a3e;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
}
/* ---Item category end--- */
/* Sliding  Image Banner  */
.banner_image img {
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
}
/* --Sliding  Image Banner end--  */
.banners .slick-dots {
bottom: 15px;
}
.banners .slick-dots li.slick-active button {
  width: 28px;
  background: #601a3e;
}
.banners .slick-dots li button:before{
  content: "";
}
.banners .slick-dots li button {
  width: 14px;
  height: 7px;
  border-radius: 4px;
  background: #601a3e85;
  border: none;
  padding: 0;
}
.banners .slick-dots li {
 
  margin: 0 1px;
 width: auto;
}
.custom_slick .slick-arrow{
  margin:  0px -12px;
}
.custom_slick .slick-slide{
  margin: 0 10px;
}
.gift_banner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
/* subheader of ing start -- */
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.subheading {
  color: var(--text);
  margin-top: 2rem;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  position: relative;
  top: 2rem;
}
.subheading_title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  font-family: "Allura", cursive !important;
  margin: 0 auto 3rem;
  position: relative;
}
.category_tittle {
  color: var(--text);
  margin-top: 2rem;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  position: relative;
  top: 2rem;
}
.category_tittle h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  font-family: "Allura", cursive !important;
  margin: 0 auto 3rem;
  position: relative;
}

.offer_image {
  display: flex;
  align-items: center;
  max-width: 1400px !important;
  justify-content: space-between;
  gap: 20px;
}
.offer_image img {
  width: 100%;
}
.offer_cards {
  margin-top: 20px;
  width: calc(25% - 15px);
  line-height: 0;
}
/* modal start */
.modal {
  display: none;
  max-width: 100%;
  background-color: white;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  /* bottom: 164px; */
  margin-bottom: 3rem;
  z-index: 2;
}
.modal_input {
  width: 100%;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_input {
  width: 30rem;
  font-size: 18px;
  padding: 10px;
}
.close_btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
  border: 0;
  background-color: #601a3e;
}
/* category_images */
.category_images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.slick-prev{
  left: -30px;

}
.slick-next{
  right: -30px;
}
.categor
.category_image img {
  max-width: 100%;
}
.category_image {
  margin-top: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
  width: calc(25% - 15px);
  cursor: pointer;
}
.category_image:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}
.category_image:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.8s, 0.8s, 0.15s;
  transition-timing-function: ease;
}
.banner_image:hover {
  transform: scale(1);
}
.new_arrival_tittle h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  font-family: "Allura", cursive !important;
  margin: 0 auto 3rem;
  position: relative;
}
.new_arrival_tittle {
  color: var(--text);
  margin-top: 2rem;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  position: relative;
  top: 2rem;
}

.new_arrival_cont {
  max-width: 1400px !important;
  margin: 0 auto;
}
.new_arrival_images {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.new_arrival_image {
  width: calc(25% - 15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.new_arrival_image:hover .quick-add{
  opacity: 1;
  top: auto;
  bottom: 73px;
}
.new_arrival_image img {
  width: 100%;
}
.new_arrival_image .image1 {
  display: block;
}
.new_arrival_image .new_arrival_new {
  display: none;
}
.new_arrival_image:hover .image1 {
  display: none;
}
.new_arrival_image:hover .new_arrival_new {
  display: block;
}
.sizes-list {
  display: flex;
}
.size-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.size-name {
  color: var(--text);
  text-decoration: none;
}
.content_heading h3 {
  width: calc(25%-15px);
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-weight: 500;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  padding: 2px;
  color: rgb(83, 83, 83);
}

.content_data {
  box-shadow: 0 1px 4px #8080801c;
  width: 100%;
}
.content_heading {
  padding: 10px;
}
.content_heading p {
  display: block;
  font-size: 20px;
}
/* collction container */
.collection_container {
  max-width: 1400px !important;
  margin: 0 auto;
}
.collection_title {
  color: var(--text);
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  position: relative;
  top: 2rem;
}
.collection_title h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  font-family: "Allura", cursive !important;
  margin: 0 auto 3rem;
  position: relative;
}

/* collection  */
.images_set1 {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
.img_set{
  overflow: hidden;
}
.collection_img img {
  width: 100%;
  transition: opacity 0.5s ease,
    transform 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.collection_img:hover img {
  transform: scale(1.1);
  background-color: #fff;
}
.collection_img .collection_content {
  text-align: center;
  margin-top: 10px;

  border: 1px solid #601a3e;
  background-color: #601a3e;
}
.collection_img .collection_content a {
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
  font-size: 16px;
  transition: 0.5s;
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.collection_img:hover .collection_content a {
  color: #601a3e;
  background-color: #fff;
  text-decoration: none;
}
.collection_img {
  width: calc(25% - 15px);
  overflow: hidden;
}

.kurta_title h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  font-family: "Allura", cursive !important;
  margin: 0 auto 3rem;
  position: relative;
}
.kurta_title {
  color: var(--text);
  margin-top: 2rem;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  position: relative;
  top: 2rem;
}

.kurtas_images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  line-height: 0;
}
.kurtas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: calc(35% - 14px);
  /* transform: scale(1.1); */
  overflow: hidden
}
.kurtas:hover{
  transition: all .3s ease-in;
}
.kurtas_2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(30% - 14px);
}
.kurtas img {
  max-width: 100%;
  display: block;
  height: auto;
  width: auto;
  transition: 3s ease;
}
.kurtas:hover img{
  transform: scale(1.1);
}
.kurtes {
  max-width: 100%;
  display: block;
  height: auto;
  width: auto;
  overflow: hidden;
}
.kurtes img{
  transition: 3s ease;

}
.kurtes:hover img{
  transform: scale(1.1);
}
/* .kurtas_images {
  display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
grid-gap: 20px;
align-items: center;
justify-content: center;
} */
/* .kurtas_1{
  grid-area: 1 / 1 / 3 / 2;
  width: calc(35% - 14px);
}
.kurtas_2{
  grid-area: 1 / 2 / 3 / 3; 
  width: calc(35% - 14px);
}
.kurtas_3{
  width: calc(30% - 14px);
  grid-area:1 / 3 / 2 / 4; 
}
.kurtas_4{
  width: calc(30% - 14px);
  grid-area: 2 / 3 / 3 / 4;
} */

/* .kurtas_2 {
  display: grid;
  grid-gap: 20px;
  width: calc(30% - 14px);
} */
.card_information {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
}
.card_information .old_price {
  margin: 5px;
  color: grey;
  text-decoration: line-through;
  font-size: 16px;
}
.card_information .new_price {
  font-weight: 700;
  font-size: 16px;
}
.offer {
  color: red;
  font-weight: 800;
  margin: 5px;
  font-size: 16px;
}
.best_sell_title {
  color: var(--text);
  margin-top: 2rem;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  position: relative;
  top: 2rem;
}
.vibe_desc{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: fit-content;
  align-items: center;
  padding: 5px;
  gap: 5px;
    width: 100%;
    height: fit-content;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
    position: absolute;
    bottom: 0px;

  }
  .vibe_vibe video{
    max-width:  100%;
  }
  .vibes{
    position: relative;
    margin-top: 25px !important;
    margin-right: auto;
    margin-bottom: 25px !important;
    margin-left: auto;
    width: calc(13% - 20px);
    height: 305.067px;
    border-radius: 5px;
    box-shadow: rgb(176, 176, 176) 0px 0px 10px 3px;
    border-width: 0px;
    border-color: white;
    overflow: hidden;
    cursor: pointer
  }
.vibe_vibe {
  width: 181px;
  position: relative;
}
.vibe_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.reel_img{
 
    width: 51.48px;
    height: 51.48px;
    box-shadow: rgb(176, 176, 176) 0px 0px 5px 2px;
    border-radius: 5px;
    border-width: 0px;
    border-color: white;
    overflow: hidden;
    background-color: rgb(220, 220, 220);
}
.reel_text{
  width: 115.12px;
  height: 51.48px;
  border-radius: 5px;
    text-align: left;
    font-weight: normal;
    color: white !important;
    font-size: 9.012px !important;
    line-height: 120% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;

}
.best_sell_title h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  font-family: "Allura", cursive !important;
  margin: 0 auto 3rem;
  position: relative;
}
.best_sell_title h2::before {
  content: "";
  position: absolute;
  background-image: url("images/Left.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  right: 106%;
  width: 60px;
  height: 44px;
  top: 50%;
  transform: translateY(-50%);
}
.best_sell_title h2::after {
  content: "";
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  left: 106%;
  width: 60px;
  height: 44px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("images/right.webp");
}
.selling_items {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  margin-right: 5px;
  color: #601a3e;
  font-weight: 400;
  font-size: 1rem;
  font-family: Quicksand, sans-serif;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
}
.selling_items:hover {
  border-color: #601a3e;
}
.active:active {
  border-color: #601a3e;
}
.selling_tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  overflow: auto;
}
.selling_images {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.selling_img .sell_img1 {
  display: block;
}
.selling_img .sell_img2 {
  display: none;
}
.selling_img:hover .sell_img1 {
  display: none;
}
.selling_img:hover .sell_img2 {
  display: block;
}

.selling_img {
  width: calc(25% - 15px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
.selling_img img {
  max-width: 100%;
}
.banner_shop {
  margin: 0 auto;
}
.banner_shop img {
  margin-top: 4rem;
  max-width: 100%;
}
.shop_occasion {
  margin-top: 20px;
}
.occasion_images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.occasion_img {
  border-radius: 50%;
  width: calc(20% - 16px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.occasion_img::before{
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: '';
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
  content: '';
  background: #fff5fbe0;
  position: absolute;
}
.occasion_img p{
  position: absolute;
    top: 50%;
    left: 50%;
    color: #601a3e;
    opacity: 0;
    visibility: hidden;
    font-weight: 600;
    transform: translate(-50% , -50%);
    line-height: 1;
    width: max-content;
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
    transition: 0.4s ease-in-out;
    z-index: 1;
}
.occasion_img img {
  max-width: 100%;
  border-radius: 50%;
  border: 1px solid #000;
  padding: 3px;
}
.occasion_img:hover:before,
.occasion_img:hover p
{
  opacity: 1;
  visibility: visible;
}

.icon .cls-1 {
  stroke-width: 1.5px;
}
.icon.icon-search path {
  stroke-width: 1.75px;
}
.work_container {
  padding: 60px 0 0;
  background: #fff5fb;
  position: relative;
  margin-top: 40px;
}
.image_section {
  order: 0;
  display: flex;
  line-height: 0;
  padding-left: 5rem;
  width: 45%;
  position: relative;
  z-index: 1;
}
.text_section {
  background: #fff;
  padding: 40px;
  order: 1;
  padding: 0 0 0 40px;
  width: 55%;
}
.image_section img {
  max-width: 100%;
}
.image_text_section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* flex-wrap: wrap; */
}
.kurtes_img2 {
  display: none;
}
.text_section p {
  margin: 0 0 10px;
  color: #000;
  line-height: 25px;
}
.occasion_image {
  position: relative;
  line-height: 0;
}

.occasion_img:hover {
  visibility: visible;
}
.text_section h2 {
  margin: 0 0 20px;
  text-transform: capitalize;
  font-weight: 700;
  width: 100%;
  color: #601a3e;
  line-height: 1;
  font-size: 36px;
  font-family: "Allura", cursive !important;
}
.traditional_about {
  margin: 0 0 10px;
  width: 100%;
  color: #601a3e;
  line-height: 1;
  font-size: 16px;
}
.text_section p {
  margin: 0 0 10px;
  color: #000;
  line-height: 25px;
}
.text_section {
  padding: 40px;
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  padding: 15px;
  cursor: pointer;
  font: inherit;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 1;
  border: 1px solid black;
  margin-top: 20px;
  background-color: var(--text);
}
.button:hover {
  color: black;
  background-color: #fff;
  border: 1px solid black;
}
.usp_section {
  padding: 0 0 60px 0;
  max-width: 1000px;
  margin: 0 auto;
}
.usp_icon_section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}
.usp_icon {
  display: block;
  width: 20% !important;
}
.usp_icon img {
  background: #fff;
  font-size: 38px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 1px 1px 4px #601a3ec2;
  padding: 20px;
  margin-top: 10px;
  width: calc(50% - 10px);
}
.usp_icon p {
  font-weight: 600;
  color: #390000;
  margin-bottom: 0;
  line-height: 1;
  margin-top: 20px;
}
.card_customrer_revievw {
  max-width: 80% ;
}
.customer_img img {
  max-width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;

}
.customer_img {
  width: 30%;
}
.customer_text {
  width: 70%;
}
.customer-review-section .customer_img {
  display: block;
  position: relative;
  width: 38%;
  overflow: hidden;
}
.customer_review_section {
  background: #fff5fb;
  width: 100%;
  padding-bottom: 60px;
}

.text_section::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 80px;
  bottom: 0;
  left: 0;
  background: #fff;
}
.customer_text {
  padding: 10px;
}
.descri {
  padding: 5px;
  color: #121212bf;
}
.customer_name p {
  padding: 5px;
  color: #121212bf;
}
.customers_cards {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.customers_cards .customer_card{
  display: flex !important;
}
.customers_cards  .slick-slide{
  margin:  0px 10px;
}
.slick-prev:before{
  background: url("images/slick_icon/prev-arrow.png");
  background-size: 16%;
  margin: -6px -4px;
  color: transparent;
  background-repeat: no-repeat;
  background-size: 35%;
  margin: -13px 10px;
  font-size: 11px;
  color: transparent;
  
}
.slick-arrow {
  width: 30px!important;
  height: 30px!important;
  border: 1px solid #fff!important;
  border-radius: 100%!important;
  background: #ffffffd1!important;
  box-shadow: 0 2px 10px #36363626!important;
  z-index: 1!important;
  text-align: center;
}
 .slick-next:before{
  background: url("images/slick_icon/next-arrow.png");
  background-size: 100%;
  margin: -6px -4px;
  color: transparent;
  background-repeat: no-repeat;
  background-size: 50%;
  margin: -13px 12px;
  color: transparent;
  font-size: 11px;
}
.insta_img img {
  width: 95%;
  height: 95%;
}

a.insta_feed {
  width: calc(16% - 1.5px);
  position: relative;
  vertical-align: top;
  padding: 0;
  color: #fff;
}

.instagram_images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
}
.customer_card {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #fff;
  width: calc(50% - 15px);
}
@font-face {
  font-family: Inter, sans-serif !important;
  src: url("Inter/Inter-VariableFont_slnt\,wght.ttf");
}

img {
  width: 100%;
}
.blog_cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  
}
.page-width {
  margin: 0 auto;
  padding: 0 15px;
}

.card:hover .card_img img {
  transform: scale(1.1);
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) ease-out;
}
.card_img {
  overflow: hidden;
}
.card_text {
  position: relative;
  margin-right: 15px;
  background: #fff;
  margin-left: 15px;
  padding: 15px;
  text-align: center;
  min-height: 80px;
  margin-top: -20px;
  border-radius: 5px;
}
.link_container {
  margin-top: 20px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
}
.link_container a {
  color: var(--text);
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 2px;
  text-decoration: none;
}
.article-card {
  font-size: 14px;
  margin-top: 5px;
  padding: 0 15px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  letter-spacing: 1px;
  line-height: 25px;
  color: #121212bf;
}
.hyper-link a {
  color: #380101;
  font-size: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 416px;
  box-sizing: border-box;
  padding: 10px;
}
.card_text {
  width: 21rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 27px 0px #f3f3f3;
  border-radius: 10px;
  background: #fff;
}
h3 a {
  text-decoration: none;
  color: #601a3e;
  text-transform: lowercase;
  font-weight: 500;
  display: block;
  box-sizing: inherit;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px;
}
.text-description-short {
  margin-top: 50px;
}
.text-description-short h2 {
  font-weight: 600;
  color: #601a3e;
  margin: 10px 0 0;
  font-size: 20px;
  padding: 5px;
}
.text-description-short p {
  color: #4d4d4d;
  font-size: 15px;
  margin: 0;
  line-height: 1.5rem;
  padding: 5px;
  ;
}
.text-description-short a {
  color: #601a3e;
  text-decoration: none;
  border-bottom: 1px solid #601a3e;
  font-weight: 500;
}
.footer_items{
  display: flex;
  align-items: top;
  justify-content: space-between;
  
  
}
.email a{
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  color: #FFFFFFbF;
}
.ico{
  color: #FFFFFFbF;
}
.usefull_link li{
  list-style: none;
  font-size: 14px;
  letter-spacing: 1px;
  color: #FFFFFFbF;
  padding-bottom: 14px;
  display: block;
}

button.newsletter__button {
  border: none;
  background: #fff;
  width: 3rem;
  cursor: pointer;
}
.email_input input{
  border: 1px solid #fff;
  flex-grow: 1;
  text-align: left;
  padding: 0.9rem;
  background: none;
  outline: none;
  width: 280px;
    
}
.slick-initialized .slick-slide{
  /* margin: ; */
}
.sizes-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.quick-add{
  width: 94.03%;
  background: #fff5fbb8;
  display: flex;
  top: 100%;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: absolute;
  opacity: 0;
  transition: .3s ease-in;
}
.selling_img:hover .quick-add{
  opacity: 1;
  top: auto;
  bottom: 73px;
}
.cart-button{
  display: flex;
  gap: 10px;
  width: 100%;
}
.slick-dots li button:before{
  border: 0;
  position: static;
}
.size-item:hover{
background-color: #601a3e;
color: #fff;
}
.cart-button .button{
  /* padding: 5px !important; */
  width: calc(50% - 3px);
    min-width: unset;
    font-size: 14px;
    white-space: nowrap;
    border: none;
    transition: .3s ease-in-out;
    min-height: unset;
    padding: 8px;
    letter-spacing: 0;
    border: 1px solid #601a3e;
    margin-top: 10px;
}
.sizes-list li{
  border-radius: 50%;
  border: .5px solid #601a3e;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sizes-list li a{
  /* padding: 5px; */
  font-size: 12px;
}
.email_input i{
  font-size: 25px;
    color: #601a3e;
}
.email_input{
  display: flex;
}
.new_text p{
  margin: 0px 0px 20px;
    font-size: 1rem;
    text-align: left;
    color: #FFFFFFbF;
    line-height: 25px;
}
#buy_btn{
  color: #601a3e;
  background: #fff;
}
#buy_btn:hover{
  color: #fff;
  background: #601a3e;
}
.number a{
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  color: #FFFFFFbF;

}
.footer_category_link{
  text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    color: #FFFFFFbF;
    padding-bottom: 14px;
    display: block;
}
.footer-social{
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer_item{
  text-decoration: none;
  width: 20%;
  padding-left: 30px;
  
}
.email_input input::placeholder{
  font-size: 18px;
}
.payment-icons li{
list-style: none;
}
.payment-icons{
  display: flex;
}
.data{
  display: flex;
  align-items: top;
  justify-content: space-between;
  flex-wrap: wrap;
}
.Copyright_text p{
  color: #FFFFFFbF;
}
.lower_footer{
  
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  border-top: solid 0.1rem rgb(151, 149, 167);
  padding-bottom: 11rem;
  padding-top: 10px;
}
.footer_item h2{
  margin-bottom: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  position: relative;
  color: #fff;
  font-size: 18px;
}
.footer-details li{
  list-style: none;
}
.footer_wrapper{
  margin-top: 50px;
  padding: 95px 0 20px ;
  background: url("images/footer_images/Stylum_footer_banners_for_website_1920-80px_Top_Banners.webp");
  /* background-color: #601a3e; */
  background-repeat: no-repeat;
  background-size:100% ;
}
footer{
  background-image: url("images/footer_images/Footer_Update5-min.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #601a3e;
}

.text-description-short h3 {
  font-weight: 600;
  color: #601a3e;
  margin: 10px 0 0;
  font-size: 20px;
  padding: 5px;
}
.readmore-text {
  color: #601a3e;
  max-width: 110px;
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
  font-weight: 600;
  font-size: 22px;
  line-height: 1;
  font-size: 18px;
}
.card_text {
  padding: 10px;
}
.fa-star {
  color: #c89936;
  padding-left: 5px;
}
@media screen and (max-width:600px) {
  .offer_image{
    flex-wrap: wrap;
  }
  .vibes{
    min-width: 180px;
  }
  .vibe_container{
    overflow: auto;
  }
}
@media screen and (max-width: 769px) {
 .instagram_images > :nth-child(n+5){
  display: none;
 }
 .customer_img img{
  border-radius: 50%;
  
 }
 .vibes{
  min-width: 180px;
 }
 .vibe_container{
  overflow: auto;
}
 .image_text_section{
  padding: 0 15px;
 }
 .image_section{
  width: 100%;
  padding: 0px;
  margin-bottom: 20px;
}
.occasion_img{
  min-width: 100px;
  justify-content: start;
}.occasion_images{
  margin-top: 10px;
  overflow: auto;
  justify-content: start;
}
.customers_cards {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.icon-hamburger{
display: block;
}
.search_track{
  gap: 10px;
}
.footer_wrapper{
  padding: 40px 0 80px;
}
.footer_item{
  width: 100%;
    max-width: 100%;
    padding: 0;
}
.customer_card { 
  display: flex; justify-content: center; flex-direction: column; 
gap: 10px; 
  background: #fff; 
  width: 300px; 
  align-items: center; max-width: 100%; 
min-width: 200px; 
}
.footer_items{
  flex-direction: column;
}

.icon-track-order {
  width: 25px;
  height: 25px;
}
.icon-search {
  height: 20px;
  width: 20px;
}
.occasion_img:hover:before,
.occasion_img:hover p
{
  opacity: 0;
  visibility: hidden;
}
.icon-account {
  width: 19px;
  height: 19px;
}
.header_like_icon{
    height: 25px;
    width: 25px;
}
.icon-cart-empty{
  height: 25px;
  width: 25px;
}
/*  */
.header_icon_icons{
  padding: 1px;
}
 .offer{
  font-size: 12px;
 }
 .card_information .new_price{
  font-size: 12px;
 }
 .card_information .old_price{
  font-size: 12px;
 }
 .blog_cards{
  overflow-x: scroll;
  justify-content: start;
 }
 .kurtas_images{
  gap: 10px;
 }
 a.insta_feed{
  width: calc(50% - 15px);
 }
  .header_items {
    display: none;
  }
  .link_container a {
    font-size: 13px;
  }
  .categories {
    justify-content: start;
    gap: 8px;
    flex-wrap: nowrap;
  }
  .items_row  {
    margin: 0 8.5px;
  }
  .kurtes_img1 {
    display: none;
  }
  .kurtes_img2 {
    display: block;
  }
  .header_icon {
    justify-content: center;
  }
  .search_track {
    padding: 0;
  }
  .category_images {
    flex-wrap: nowrap;
    justify-content: start;
  }
  .new_arrival_images {
    flex-wrap: nowrap;
    justify-content: start;
    justify-content: start;
  }

  .selling_images {
    flex-wrap: nowrap;
    justify-content: start;
  }
 
  .collection_img {
    width: calc(50% - 5px);
  }
  .collection_img .collection_content a {
    font-size: 12px;
  }
  .card_information {
    font-size: 11px;
  }
  .header__icons .icon {
    width: 25px;
    height: 25px;
  }
  .kurtas {
    width: calc(50% - 5px);
  }
  .footer_item h2{
    font-size: 15px;
  }
  .kurtas_2 {
    flex-direction: row;
    width: 100%;
    gap: 10px;
  }
  .images_set1{
    gap: 10px;
  }
  .usp_icon img {
    padding: 9px;
    margin-top: 10px;
    width: calc(91% - 30px);
  }
  .image_text_section {
    flex-wrap: wrap;
  }
  .insta_img img {
    width: 100%;
    height: 100%;
}
  .text_section{
    width: 100%;
    background: #fff;
    padding: 20px 15px;
    text-align: left;
  }
  .data{
    justify-content: center;
  }
  .offer_cards {
    width: calc(50% - 5px);
    margin-top: 0;
  }
  .offer_image{
    
    gap: 10px;
  }
  .usp_icon .content {
    font-size: 12px;
  }
  .best_sell_title h2 {
    font-size: 24px;
  }
  .kurtes {
    width: calc(50% - 5px);
  }
  }
  

